<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Activty6PABD.Properties.Settings.Activity6PABDConnectionString"
            connectionString="Data Source=BIBLE\SQLEXPRESS;Initial Catalog=Activity6PABD;User ID=sa;Password=AS0203rul"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>